<div aria-hidden="false" style="background: #ccc url('/assets/banco-familia.jpg') no-repeat top;
         background-size: cover; min-height:358px; max-height:716px">
    <div style="margin-top: 5%; padding: 5%">
      <div >
        <h1 style="color:false">
          <strong>Bem Vindo!</strong>
        </h1>
      </div>
      <h2 style="color:false">Trabalhamos por você.</h2>
    </div>
</div>