<h1>Editando movimentacao</h1>

<%= render 'form' %>

<%= link_to 'Exibir', cliente_conta_movimentacao_path(@cliente, @conta, @movimentacao) %> |
<%= link_to 'Voltar', cliente_conta_path(@cliente, @conta) %>
