<h1>Nova movimentacao - <%= @movimentacao.tipo == 'D' ? 'Depósito': (@movimentacao.tipo == 'T' ? 'Transferência' : 'Saque') %></h1>

<%= render 'form' %>

<% if cliente_signed_in? %>
    <%= link_to 'Voltar', cliente_contas_path(@cliente) %>
<% else %>
    <%= link_to 'Voltar', root_path %>
<% end %>
